
<div class="card">
  <div class="card-body">
    <h1 class="card-title"><img src="{{country.flag}}" alt="flag {{country.name}}" class="flag-title">
    {{country.name}}</h1>
    <p class="card-text"><span>Capital:</span> {{country.capital}}</p>
    <p class="card-text"><span>Population:</span> {{country.population}}</p>
    <p class="card-text"><span>Languages:</span> {{lang}}</p>
  </div> 
</div>

